h1 {
    margin: 10px 0px;
}

figure {
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image img, figure img {
    height: 300px;
}

#date {
    margin-right: 50px;
}