* {
    font-family: Helvetica;
}

blockquote {
    font-style: italic;
    color: gray;
}

blockquote p {
    margin: 0;
}

.blog-listing {
    margin: 5px 0px;
}

.tags-listing {
    margin: 0px 0px 10px 50px;
}

.fixed-footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
}

.container {
    margin: 5% 20%;
}

.project-name {
    font-weight: bold;
}

.video-embed {
    display: flex;
    justify-content: center;
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

